body {
	font-size: 16px;
	line-height: 22px;
	font-family:"RobotoMedium","Arial", sans-serif;
	font-weight: normal;
	color: #283136;
	text-transform: uppercase;
	background-color: #ffffff;
}
h1 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}
h2 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}
