body {
	
	font-size: 16px;
	line-height: 22px;
	font-family:"Roboto","Arial", sans-serif;
	font-weight: normal;
	color: #283136;
	background-color: #ffffff;
}
a {
	text-decoration: none;

}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.layout_position {
	width: 880px;
	margin: 0 auto;
	padding: 0 10px;
}
.btn {
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	border-radius: 3px;
	color: #ffffff;
}
.top_header{
	background-color: #eeeeee;
}
.top_menu {
	
	margin-bottom: 50px;
}
.top_menu a{
	padding-top: 20px;
	color: #283136;
	text-transform: uppercase;
}
.top_menu a:hover {
	color: #fb565a;
}
.top_menu a:active {
	color: #cbcbcb;
}
.top_logo {
	float: left;
	width: 139px;
	height: 56px;
	margin-top: 27px;
}
.top_logo img {
	width: 139px;
	height: 56px;
}
.right_menu {
	float: right;
	max-width: 100px;
	margin-top: 33px;
	margin-left: 60px;
}
.basket {
	position: relative;
	display: inline-block;
	padding-left: 34px;
	font-size: 14px;
	line-height: 30px;
	vertical-align: top;
	text-decoration: none;
}
.basket::before {
	position: absolute;
	top:28px;
	left:6px;
	content: "";
	width: 15px;
	height: 15px;
	background: transparent url(../img/sprite.png) no-repeat;
	background-position: -10px -130px;
}
.basket:hover::before {
	background: transparent url(../img/sprite.png) no-repeat;
	background-position: -10px -165px;
}
.basket:active::before {
	background: transparent url(../img/sprite.png) no-repeat;
	background-position: -10px -130px;
	opacity: 0.4;
}
.left_menu {
	float: right;
	margin-top: 33px;
}
.left_menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.left_menu li {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 30px;
}
.left_menu a {
	display: block;
	padding-left: 29px;
}
.index_slider {
	position: relative;
	width: 880px;
	min-height: 300px;
	margin-bottom: 80px;
}
.index_slider input[type="radio"] {
	display: none;
}
.slider-controls {
	position: absolute;
	bottom: 95px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center;
}
.slider_controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	vertical-align: top;
	background: #ffffff;
	border: 3px solid white;
	border-radius: 50%;
	cursor: pointer;
}
.slide {
	display: none;
	width: 880px;
	min-height: 300px;
}

.slide:nth-of-type(1) {
	background-image: url("../img/Slide_img_1.png");
	background-repeat: no-repeat;
	background-position: right top;
}
.slide:nth-of-type(2) {
	background-image: url("../img/Slide_img_2.png");
	background-repeat: no-repeat;
	background-position: right top;
}
.slide:nth-of-type(3) {
	background-image: url("../img/Slide_img_3.png");
	background-repeat: no-repeat;
	background-position: right top;
}
#slide_1:checked ~ .slide:nth-of-type(1) {
	display: block;
}

#slide_2:checked ~ .slide:nth-of-type(2) {
	display: block;
}

#slide_3:checked ~ .slide:nth-of-type(3) {
	display: block;
}

#slide_1:checked ~ .slider_controls label[for="slide_1"],
#slide_2:checked ~ .slider_controls label[for="slide_2"],
#slide_3:checked ~ .slider_controls label[for="slide_3"] {
	background: #c1c1c1;
}
.slide_content {
	width: 480px;
	min-height: 220px;
}
.slide_content p {
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 28px;
}
.slide_title {
	padding-top: 18px;
	font-size: 36px;
	line-height: 36px;
}
.but_more {
	width: 100px;
	padding: 12px 70px;
	background-color: #fb565a;
}
.but_more:hover {
	background-color: #d6494d;
}
.but_more:active {
	background-color: #b63538;
	box-shadow: inset 0 2px #9b2d30
}

.slider_controls {
	position: absolute;
	bottom: 90px;
	left: 50%;
	width: 140px;
	height: 14px;
	margin-left: -70px;
}
.services {
	min-height: 380px;
	margin-bottom: 60px;
	border-bottom: 2px solid #eeeeee;
}
.column {
	float: left;
	width: 240px;
	
	margin-right: 80px;
}
.column:nth-child(3n) {
	margin-right: 0;
}
.column img {
	padding: 0;
	margin: 0;

}
.column h2 {
	padding: 0;
	margin: 0;
	padding: 20px 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
}
.column p {
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 22px;
}
.btn_sale_1 {
	width: 64px;
	padding: 12px 40px;
	background-color: #fb565a;
}
.btn_sale_1:hover {
	background-color: #d6494d;
}
.btn_sale_1:active {
	background-color: #b63538;
	box-shadow: inset 0 2px #9b2d30;
}
.btn_sale_2 {
	width: 64px;
	padding: 12px 40px;
	background-color: #00ca74;
}
.btn_sale_2:hover {
	background-color: #01a25e;
}
.btn_sale_2:active {
	background-color: #009053;
	box-shadow: inset 0 2px #007b47
}
.btn_sale_3 {
	width: 64px;
	padding: 12px 40px;
	background-color: #efc84a;
}
.btn_sale_3:hover {
	background-color: #d6ae2c;
}
.btn_sale_3:active {
	background-color: #c09b24;
	box-shadow: inset 0 2px #a3841f
}
.about_us_head{
	margin-bottom: 45px;
}
.top_content {
	float: left;
	width: 610px;
	
}
.top_content p {
	padding: 0;
	margin: 0;
}
.top_content span {
	display: block;
	padding: 0;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 20px;
	font-size: 36px;
	line-height: 36px;
	font-weight: 500;
}
.logo_center {
	float: right;
	margin-right: 22px;
}
.logo_center img {
	width: 240px;
	height: 119px;
}
.bot_content h3 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	font-weight: 500;
}
.bot_content ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.bot_content li {
	position: relative;
	padding: 0;
	margin: 0;
	padding-top: 27px;
	padding-left: 35px;
}
.bot_content li::before {
	position: absolute;
	top:38px;
	left:0;
	content: "";
	width: 25px;
	height:2px;
	background: url(../img/sprite.png) no-repeat;
	background-position: -10px -459px;
}
.type_orders {
	float: left;
	width: 575px;
	
}
.advantages {
	float: right;
	width: 240px;
	
}
.about_us {
	padding-bottom: 71px;
	margin-bottom: 46px;
	border-bottom: 2px solid #eeeeee;
}
.clients {
	padding-bottom: 30px;
	border-bottom: 2px solid #eeeeee;
}
.clients a {
	display: block;
	width: 198px;
	height: 37px;
}
.client:nth-child(1) {
	background: url(../img/client_1.png) no-repeat;
	background-position: 0 24px;
	opacity: 0.2;
}
.client:nth-child(2) {
	background: url(../img/client_2.png) no-repeat;
	background-position: 0 12px;
	opacity: 0.2;
}
.client:nth-child(3) {
	background: url(../img/client_3.png) no-repeat;
	opacity: 0.2;
}
.client:nth-child(1):hover {
	background: url(../img/client_1.png) no-repeat;
	background-position: 0 24px;
	opacity: 1;
}
.client:nth-child(2):hover {
	background: url(../img/client_2.png) no-repeat;
	background-position: 0 12px;
	opacity: 1;
}
.client:nth-child(3):hover {
	background: url(../img/client_3.png) no-repeat;
	opacity: 1;
}


.client {
	float: left;
	width: 220px;
	min-height: 90px;
	margin-right: 101px;
}
.client:nth-child(1) {
	padding-top: 24px;
}
.client:nth-child(3n) {
	margin-right: 18px;
}
.main_footer {
	margin-top: 85px;
}
.map {
	width: auto;
	height: 328px;
	padding-top: 88px;
	background: #e9e5dc url(../img/bg_map.jpg) no-repeat 50% 0px;
	-webkit-background-size: center auto;
	background-size: center auto;
}
.adress {
	width: 210px;
	padding: 22px 20px 26px;
	background-color: #ffffff;
}
.adress b {
	display: block;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
}
.adress p {
	padding: 0;
	margin: 0;
	font-size: 16px;
}
.adress span {
	display: block;
	margin-top: 18px;
	margin-bottom: 30px;
}
.adress .btn {
	width: 97px;
	padding: 10px 53px;
	background-color: #fb565a;
}
.adress .btn:hover {
	background-color: #d6494d;
}
.adress .btn:active {
	background-color: #b63538;
	box-shadow: inset 0 5px #9b2d30;
}
.footer_social {
	margin-top: 70px;
	margin-bottom: 75px;
}
.footer_social_btn {
	float: left;
	width: 240px;
	padding-top: 6px;
}
.social_btn {
	display: inline-block;
	position: relative;
	width: 62px;
	height: 62px;
	margin-right: 23px;
	
	border-radius: 50%;
	background-color: #e1e1e1;
}
.social_btn:last-child {
	margin-right: 0;
}
.social_btn:hover {
	background-color: #fb565a;
}
.social_btn:active {
	background-color: #d6494d;
	box-shadow: inset 0 2px #b63e42;

}
.social_btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-image:url(../img/sprite.png);
}
.social_btn_vk::before {
	width: 26px;
	height: 15px;
	background-position: -10px -481px;
}
.social_btn_fb::before {
	width: 12px;
	height: 22px;
	background-position: -10px -286px;
}
.social_btn_inst::before {
	width: 21px;
	height: 21px;
	background-position: -10px -328px;
}
.footer_promo {
	float: right;
	width: 565px;
}
.footer_promo b {
	display: block;
	padding-bottom: 10px;
	font-size: 36px;
	line-height: 36px;
}
.footer_promo p {
	margin: 0;
	padding: 0;
}
/*Catalog*/
.catalog_title {
	width: 700px;
	min-height: 120px;
	padding-bottom: 73px;
	margin: 0 auto;
	margin-bottom: 80px;
}
.filters {
	float: left;
	width: 240px;
	min-height: 729px;
	margin-right: 80px;
}
.center_panel {
	float:right;
}
.filters_2 {
	width: 560px;
	height: 21px;
	margin-bottom: 18px;
}
.filters_2 ul {
	margin: 0;
	padding: 0;
}
.filters_2 li {
	display: inline-block;
}
.filter {
	float:left;
	width: 460px;
	height: 21px;
}
.arrow {
	float: right;
	width: 30px;
	height: 21px;  
}
.items {
	width: 560px;
}
.item {
	float: left;
	width: 240px;
	height: 270px;
	margin-right: 80px;
	margin-bottom: 80px;
}
.item:nth-child(2n) {
	margin-right: 0;
}
.order {
	display: none;
}
.paginator {
	float: left;
	width: 285px;
	height: 39px;
}
.catalog_footer {
	margin-top: 77px;
}


/*h1 {
	font-size: 36px;
	line-height: 36px;
	color: #000000;
}
h2 {
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}









/*======================================
 Системное оформление - не изменять
 =======================================*/
/*
 body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}
body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.layout_position::before {
  content: ".container";
}

.main-header .layout_position::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}
*/